.logo{
  width: 53px;
  height: 53px;
  display: block;
  background-image: url('/assets/images/logo.png');
  background-size: cover;
  text-indent:101%;
  overflow:hidden;
  white-space:nowrap;
}

.input-group{
   width: 335px;
}